<% if @cocktail.photo? %>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(167, 167, 167, 0.6) 0%, rgba(64, 64, 64, 0.6) 50%), url('<%= cl_image_path @cocktail.photo.path %>');"></div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(167, 167, 167, 0.6) 0%, rgba(64, 64, 64, 0.6) 50%), url('<%= image_path 'missing' %>');"></div>
<% end %>
