<div>
  <ul class="list-inline">
    <li>
      <%= link_to 'http://github.com/volchan' do %>
        <i class="fa fa-github"></i>
      <% end %>
    </li>
    <li>
      <%= link_to 'http://twitter.com/volchantv' do %>
        <i class="fa fa-twitter"></i>
      <% end %>
    </li>
    <li>
      <%= link_to 'http://youtube.com/volchantv' do %>
        <i class="fa fa-youtube"></i>
      <% end %>
    </li>
  </ul>
  <p>Proudly made <%= link_to '@LeWagon', 'https://www.lewagon.com' %></p>
</div>
