// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: 25px;
}
// .page-wrap:after {
//   content: "";
//   display: block;
// }
// .site-footer, .page-wrap:after {
//   height: 100px;
// }
.site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  background: #2b2f3b;
  color: #f2f2f2;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
      font-size: xx-large;
    }
  }
}
